@font-face{font-family:"PS Serif";src:url("source-han-serif-medium.otf") format("opentype");font-weight:400 900;font-style:normal;font-display:block}
@font-face{font-family:"PS Sans";src:url("source-han-sans-regular.otf") format("opentype");font-weight:400 900;font-style:normal;font-display:block}
@font-face{font-family:"PS Mono";src:url("CascadiaMono.ttf") format("truetype");font-weight:400 900;font-style:normal;font-display:block}
